### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### Java ###
*.class
*.log
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Minecraft modding ###
run/
run-data/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

### Python (tools/) ###
__pycache__/
